[Unit]
Description=MousePad Gamepad to Mouse and Keyboard
After=systemd-udevd.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=stronger
Group=stronger
SupplementaryGroups=input mousepad
ExecStart=/usr/bin/python3 -u /home/stronger/Projects/MousePad/mousepad.py --wait
Restart=on-failure
RestartSec=3
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
